In [ ]:
import mysql.connector as conn
my_db = conn.Connect(host="localhost", user="root", passwd="root")
cursor = my_db.cursor()

In [ ]:
# 1. create a database called as cardataset

cursor.execute("create database cardataset")

In [ ]:
# 2. create a table called as car with a column name given in dataset description

query = "create table cardataset.car(buying VARCHAR(10), maint VARCHAR(10), doors VARCHAR(10), persons VARCHAR(10),\
lug_boot VARCHAR(10), safety VARCHAR(10), class VARCHAR(10))"
cursor.execute(query)

In [ ]:
# 3. Dump all the data into car table

import csv
with open("car.data", "r+") as f:
    car_data = csv.reader(f, delimiter = "\n")
    for i in car_data:
        value =  i[0].split(',')
        query = f"insert into cardataset.car values('{value[0]}', '{value[1]}', '{value[2]}', '{value[3]}', '{value[4]}', '{value[5]}', '{value[6]}')"
        cursor.execute(query)
        
    my_db.commit()

In [ ]:
# 4. try to check whether all the data is aviable inside your table or not

cursor.fetchall()

In [ ]:
# 5. try to group all the data with COL1 AND count occurences of each and every record based on col1 value

cursor.execute("select buying, count(*) as count from cardataset.car group by buying")
cursor.fetchall()

In [ ]:
# 6. Try to filter a record where col 3 value will be 4 .

cursor.execute("select * from cardataset.car where doors = 4")
cursor.fetchall()

In [ ]:
# 7. Try to update a col 3 value with 8 whereever you have value equal to 2 

cursor.execute("update cardataset.car set doors='8' where doors='2' ")
my_db.commit()
cursor.fetchall()

In [ ]:
# 8. try to delete table and database

cursor.execute("drop table cardataset.car")
cursor.execute("drop database cardataset")